---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  readability-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  performance-*,
  misc-*,
  bugprone-*'